<md-toolbar color="primary">
  <span>JOMBAY</span>
  <span class="spacer"></span>
  <button md-icon-button [md-menu-trigger-for]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item>
      <md-icon>fingerprint</md-icon>
      <span>Login</span>
    </button>
    <button md-menu-item disabled>
      <md-icon>announcement</md-icon>
      <span>Issues</span>
    </button>
    <button md-menu-item>
      <md-icon>notifications_off</md-icon>
      <span>Disable alerts</span>
    </button>
  </md-menu>
</md-toolbar>
<md-tab-group>
  <md-tab label="Jombay Survey">
    <md-card>
      <md-card class="slideshow" >
        Questions.
        <div class="padding" [class.active]="question === activeQuestion" [class.deactive]="question !== activeQuestion" *ngFor="let question of questions" [innerHTML]="question.body"></div>
      </md-card>
      <md-card-actions>
        <button class="md-button1 btn-dir btn-prev"  [hidden]="previousHide" (click)="previous()" md-button>
          Previous
        </button>
        <button class="md-button1 btn-dir btn-next" [hidden]="nextHide" (click)="next()" md-button>
          Save & Next
        </button>
      </md-card-actions>
    </md-card>
  </md-tab>
</md-tab-group>
