.slideshow {
  position: relative;
  /* necessary to absolutely position the images inside */
  /* same as the images inside */
  background-color: #673ab7;
  height: 250px;
}
.slideshow div {
  position: absolute;
  font-size: 20px;
  display: none;
}
.slideshow div:first-child {
  display: block;
  /* overrides the previous style */
}

.padding {
  padding: 25px;
}

.btn-dir {
  position: absolute;
  margin: auto;
  width: 100px;
  height: 30px;
  text-align: center;
}
.btn-next {
  right: 20%;
}
.btn-prev {
  left: 20%;
}
.active {
  display: block!important;
}
.deactive {
  display: none!important;
}

[hidden] {
  display: none;
}
