@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.md-tab-body-content.ng-trigger.ng-trigger-translateTab {
  height: -webkit-fill-available;
}

.btn-dir[_ngcontent-c0] {
  margin-top: 20px!important;
}

.md-button1 {
  color : rgb(49, 46, 46);
  background-color: #673ab7;
  border-radius: 10px 0 0 10px;
  font-size: 16px;
}
